.body-back
  .phone-box.wrap.push
    .menu-notify
      .profile-left  
      .Profile-mid
        %h5.pro-link Store Unavailable
      .clearfix
    .details-grid
      .details-shade
        .col-md-6.details-left
          =image_tag "https://image.freepik.com/freie-ikonen/trauriges-gesicht_318-36422.png", {class: "img-circle border-effect", alt: "sad-face"}
        .col-md-6.details-right
          %h3 Store Unavailable
          %h4 cooming soon
          .clearfix
          %p La tienda aun no esta disponible para tu pais o tu sistema operativo, regresa pronto.
        .clearfix
        