.body-back
  .phone-box.wrap.push
    .menu-notify
      .profile-left
        %a{:href => root_path}
          %i.fa.fa-chevron-left
      .Profile-mid
        %h5.pro-link Aplicaciones
      .clearfix
    .details-grid
      .details-shade
        .col-md-6.details-left
          %img.img-circle.border-effect{:alt => " ", :src => @app.avatar(:thumb)}/
        .col-md-6.details-right
          %h3=@app.name
          %h4 Imprescindibles
          %a.btn.btn-info{:href => @app.app_store, target: "_blank"} Descargar
          .clearfix
        .clearfix
    .col-md-12.app-info-open
      %h3 Descripción
      = @app.description.html_safe
      .clearfix
    .clearfix
