.menu-notify1, .menu-notify2, .menu-notify{
  z-index: 2;
  position: relative;
}

.recommended {
  min-height: 100%;
  width: 100%;
  display: block;
  position: relative;
  z-index: 1;
}

.recommended .recommended-app {
  max-width: 100%;
  display: block;
  position: relative;
}

.recommended .recommended-app .overlay{
  min-width: 100%;
  min-height: 100%;
  display: block;
  position: absolute;
  z-index: 2;
  background: rgba(22, 21, 23, 0.6);
}

.recommended .recommended-app .app-image{
  min-width: 100%;
  min-height: 100%;
  display: block;
  position: relative;
  z-index: 1;
}

.recommended .recommended-app .app-info{
  display: block;
  position: absolute;
  z-index: 3;
  bottom: 30px;
}

.recommended .recommended-app .app-info h3 {
    color: #fff;
    font-size: 22px;
    margin: 12px 0 9px;
}

.recommended .recommended-app .app-info h4 {
    color: #CCC;
    font-size: 16px;
    margin-bottom: 13px;
}

.recommended .recommended-app .app-info p {
    color: #fff;
    font-size: 14px;
}

.recommended .recommended-app .app-image img{
  width: 100%;
}

.recommended .recommended-app .app-menu{
  margin-top: 20px;
  padding-top: 10px;
  border-top: 1px solid white;
}

.recommended .recommended-app .app-download{
  width: 49%;
  display: inline-block;
  text-align: center;
}

.recommended .recommended-app .app-readmore{
  width: 49%;
  display: inline-block;
  text-align: left;
}

.recommended .recommended-app .app-download a, .recommended .recommended-app .app-readmore a{
  color:white;
  text-align: left;
  height: 40px;
  line-height: 40px;
  display: block;
}

.app-info-open{
  display: block;
  overflow: auto;
  margin: 10px 0;
  h3{
    line-height: 1.2em;
    border-bottom: 1px solid #333;
    padding-bottom: 10px;
    margin-bottom: 10px;
  }
}

.app-info-open p {
  font-size: 14px;
  margin: 20px 0;
}

.app-read-more{
  color:white;
  text-align: left;
  display: block;
  font-size: 10px;
  margin-top: 10px;
}